<div class="modal-header">
            <h3>New control</h3>
</div>
<div class="modal-body">
 <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="controlName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control" id="controlName" placeholder="Name" ng-model="control.name"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="controlDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea id="controlDescription" class="form-control" rows="3" placeholder="Description" ng-model="control.description"></textarea>
    </div>
  </div>
   <div class="form-group">
    <label for="controlProject" class="col-sm-2 control-label">Project</label>
    <div class="col-sm-10">
     <select
       ng-model="control.project"
       class="form-control"
       id="controlProject"
       required=true
       ng-options="proj for proj in getProjectsArray(data.Projects)">
	</select>
    </div>
  </div>
 </form>
</div>
 <div class="modal-footer">
 	 <div style="display:{{message.display}}" class="alert {{message.type}}">{{message.message}}</div>
 	 <i class="icon-button-large glyphicon glyphicon-ok" ng-click="ok()"></i>
 	 <i class="icon-button-large glyphicon glyphicon-remove" ng-click="cancel()"></i>
 </div>