<div class='page-content' ng-controller="FeaturedListController">
<div class='featured-blurb'><h1>Featured<br>Blurb<br></>Header</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
<br><a class="call-to-action">CALL TO ACTION</a>
</p>
</div>
<div class='featured-filmroll'>
	<div class="featured-filmroll-list-item" style="background-image:url('img/cape-town_02.jpg')">
		<span class="caption">Some text</span>
	</div>
	<div class="featured-filmroll-list-item" style="background-image:url('img/cape-town_01.jpg')">
		<span class="caption">Some text</span>
	</div>
	<div class="featured-filmroll-list-item" style="background-image:url('img/protea.jpg')">
		<span class="caption">Some text</span>
	</div>
	<div class="featured-filmroll-list-item" style="background-image:url('img/capepoint.jpeg')">
		<span class="caption">Some text</span>
	</div>

<div class='featured-filmroll-nav'>
	<a><i class="glyphicon glyphicon-chevron-left filmroll-control"></i></a>
	<a><i class="glyphicon glyphicon-chevron-right filmroll-control"></i></a>
</div>
</div>
</div>
