
<div class="search-header">
<h1>
	{{selected.header}}Content Header
</h1>
<p>{{selected.blurb}}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a class="call-to-action">CALL TO ACTION</a></p>
</div>
<div class="search-criteria">
	<div class="search-criteria-header"><i class="glyphicon glyphicon-filter"></i>
		Filter criteria 
	</div>
	<div class="criteria-region"><a><i class="glyphicon glyphicon-globe"></i>Region</a></div>
	<div class="criteria-town"><a><i class="glyphicon glyphicon-check"></i>Nearest Town</a></div>
	<div class="criteria-category"><a><i class="glyphicon glyphicon-plus"></i>Category</a></div>
	<div class="criteria-keywords"><a><i class="glyphicon glyphicon-plus"></i>Keywords</a></div>
</div>
<div class="search-results">
	<div class="search-list-nav">
		<a><i class="glyphicon glyphicon-search visual-blog-list-control"></i></a>
		<a><i class="glyphicon glyphicon-chevron-left visual-blog-list-control"></i></a>
		<a><i class="glyphicon glyphicon-chevron-right visual-blog-list-control"></i></a>
	</div>
	<ul>
		<li></li>
	</ul>
</div>