<tabset ng-controller="type_edit">
   <tab>
     <tab-heading>
       General
     </tab-heading>
     <br>
     <form class="form-horizontal" role="form" style="padding:5px">
	    <div class="form-group">
	   <label for="projectName" class="col-sm-2 control-label">Name</label>
	   <div class="col-sm-10">
	     <input class="form-control" id="projectName" placeholder="Name" ng-model="editData.name"></input>
	   </div>
	 </div>
	 <div class="form-group">
	   <label for="projectDescription" class="col-sm-2 control-label">Description</label>
	   <div class="col-sm-10">
	     <textarea id="projectDescription" class="form-control" rows="3" placeholder="Description" ng-model="editData.description"></textarea>
	   </div>
	 </div>
	  <div class="form-group">
	   <label for="fieldSearchable" class="col-sm-2 control-label">Searchable</label>
	   <div class="col-sm-10">
	    <input id="fieldSearchable" type="checkbox" style="margin-top:10px" ng-model="editData.searchable"> 
	   </div>
	 </div>
	  <div class="form-group">
	   <label for="fieldListable" class="col-sm-2 control-label">Listable</label>
	   <div class="col-sm-10">
	    <input id="fieldListable" type="checkbox" style="margin-top:10px" ng-model="editData.listable"> 
	   </div>
	 </div>
	 </form>
   </tab>
   <tab>
     <tab-heading>
       Fields
     </tab-heading>
     <br>
     <div style="width:20%;float:left;padding-left:10px;border-right:1px solid #5E5E5E;">
     	 <ul ui-sortable="sortableOptions" ng-model="editData.fields" class="sortable-container" >
	      <li ng-repeat="item in editData.fields" class="sortable-item">
	       <a>{{item.name}}<i ng-click="contentScope.sortableItemSelected(item)" style="z-index:999999;float:right;margin-top:2px" class="glyphicon glyphicon-pencil"></i></a> 
	      </li>
	    </ul>
     </div>
     <div style="width:80%;float:right;padding-right:10px;">
     	 <form class="form-horizontal" role="form" style="padding:5px">
		  <div class="form-group">
		   <label for="projectName" class="col-sm-2 control-label">Name</label>
		   <div class="col-sm-6">
		     <input class="form-control" id="fieldName" placeholder="Name" ng-model="contentScope.selectedFieldItem.name"></input>
		   </div>
		 </div>
		 <div class="form-group">
		   <label for="projectDescription" class="col-sm-2 control-label">Label</label>
		   <div class="col-sm-6">
		     <input class="form-control" id="fieldLabel" placeholder="Label" ng-model="contentScope.selectedFieldItem.label"></input>
		   </div>
		 </div>
		  <div class="form-group">
		   <label for="projectDescription" class="col-sm-2 control-label">Description</label>
		   <div class="col-sm-10">
		     <textarea id="fieldDescription" class="form-control" rows="3" placeholder="Description" ng-model="contentScope.selectedFieldItem.description"></textarea>
		   </div>
		 </div>
		 <div class="form-group">
		   <label for="fieldRequired" class="col-sm-2 control-label">Required</label>
		   <div class="col-sm-10">
		    <input type="checkbox" style="margin-top:10px" ng-model="contentScope.selectedFieldItem.required"> 
		   </div>
		 </div>
		 <div class="form-group">
		    <label for="fieldType" class="col-sm-2 control-label">Type</label>
		    <div class="col-sm-6">
		     <select id="fieldType" class="form-control" ng-model="contentScope.selectedFieldItem.type" ng-change="contentScope.typeChanged()">
		     	<option value="Text">Text</option>
		     	<option value="Date">Date</option>
		     	<option value="Number">Number</option>
		     	<option value="Boolean">Boolean</option>
		     	<option value="Enumeration">Enumeration</option>
		     	<option value="Tab">Tab</option>
		     	<option value="Category">Category</option>
		     	<option value="Code">Code</option>
		     	<option value="Custom">Custom Type</option>
		     	<option value="File">File</option>
			 </select>
		    </div>
		  </div>
		  <ng-include src="'templates/system/type/' + contentScope.selectedFieldItem.type + '.html'" />
		 </form>
     </div>
   </tab>
 </tabset>